# Build directories
build/
build-*/
out/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# IDE / editor
.vs/
.vscode/
.idea/
*.user
*.suo

# Compiled
*.o
*.obj
*.a
*.lib
*.exe
*.pdb
*.ilk
*.exp

# Shader build artefacts
*.spv

# OS junk
Thumbs.db
.DS_Store
